<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="layoutForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="fromContent">From Content</label>
                        <input type="text" name="fromContent" id="fromContent" class="form-control" formControlName="fromContent">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="toContent">To Content</label>
                        <input type="text" name="toContent" id="toContent" class="form-control" formControlName="toContent">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="listOfIds">List of Id</label>
                        <textarea type="text" name="listOfIds" id="listOfIds" class="form-control"
                            formControlName="listOfIds"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!layoutForm.valid">submit</button>
                    <!-- <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button> -->
                </div>
            </div>
        </form>
    </div>
</div>