<div class="container-fluid">
    <div class="row  justify-content-start">
        <div class="col-xs-10">
            <table class="table bg-light" style="width: 900px;">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Queue Name</th>
                        <th scope="col">Count</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let queue of queues">
                        <td><a style="cursor: pointer">{{queue}}</a></td>
                        <td>500</td>
                        <td>
                            <div>
                                <input type="checkbox" style="align-content: center;">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Resend</button>
            <button class="btn btn-danger" type="button">Delete</button>
            <button class="btn btn-primary" type="button">Clear</button>
        </div>
    </div>