<form name="queueForm" [formGroup]="queueForm" novalidate (ngSubmit)="onSubmit()">
    <div class="container-fluid-d">
        <table formArrayName="queueArray" class="table bg-light">
            <thead class="thead-light">
                <tr>
                    <th>Queue Name</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr [formGroupName]="i" *ngFor="let queue of (queue$ | async).queues;let i = index">
                    <td class="col">
                        <div class="custom-control custom-checkbox justify-content-start">
                            <input formControlName="selected" type="checkbox" class="custom-control-input"
                                id="label{{i}}">
                            <label class="custom-control-label" for="label{{i}}">{{queue.name}}</label>
                        </div>
                    </td>
                    <td class="col"><span class="badge badge-primary badge-pill">{{queue.count}}</span></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-success" type="submit">Resend</button>
            <button class="btn btn-danger" type="button">Delete</button>
            <button class="btn btn-primary" type="button" (click)="onRefresh()">Refresh</button>
        </div>
    </div>
</form>